.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-bottom: 1px solid rgb(51, 204, 204);
    & nav {
        width: 100%;
        max-width: 1200px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
        }
        .search{
            display: flex;
            align-items: center;
            &span {
                display: inline-block;
                height: 40px;
                width: 40px;
                border-radius: 15px;
                background-color: red;
            }
        }
    }
}