body {
    margin: 0;
    padding: 0;
}

.header nav{
    font-family: bold italic;
    background-color: #212121;
    padding: 10px 0;
}

.options {
    display: flex;
    margin-left: 47%;
}

.header nav ul li a img {
    width: 75px; 
    height: auto;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.header nav ul li {
    margin: 0 15px;
}

.header nav ul li a {
    color: #EEEE;
    text-decoration: none;
    padding: 10px 15px;
}

.header nav ul li a.signup-btn {
    background-color: #EEEE;
    border-radius: 17px;
    color: #212121;
}

.header nav ul li a.login-btn {
    background-color: #212121;
}
